node_modules
build
dist
dist-tsc
.docs
.coverage
node_modules
package-lock.json
yarn.lock
.vscode
interop/*-image.json
.tmp-compiled-docs
tsconfig-doc-check.aegir.json
service-worker-gateway
test-results
test-e2e/fixtures/data/gateway-conformance-fixtures
