name: Deploy to Staging

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Tag or commit to deploy'
        required: true
        type: string

permissions:
  contents: write

jobs:
  deploy:
    uses: ./.github/workflows/deploy.yml
    with:
      tag: ${{ inputs.tag }}
      environment: staging
    secrets:
      DEPLOYMENT_GITHUB_TOKEN: ${{ secrets.UCI_GITHUB_TOKEN || github.token }}
  wait-for-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Wait for deployment to complete
        run: |
          ./.github/scripts/wait-for-deploy.sh https://inbrowser.dev ${{ inputs.tag }}
