name: Deploy to Production

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Tag to deploy'
        required: true
        type: string

permissions: {}

jobs:
  deploy:
    uses: ./.github/workflows/deploy.yml
    with:
      tag: ${{ inputs.tag }}
      environment: production
    secrets:
      DEPLOYMENT_GITHUB_TOKEN: ${{ secrets.UCI_GITHUB_TOKEN || github.token }}
  wait-for-deploy:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v6
      - name: Wait for deployment to complete
        run: |
          # fetch the tag to ensure it's available
          git fetch origin tag ${{ inputs.tag }} --no-tags
          ./.github/scripts/wait-for-deploy.sh https://inbrowser.link ${{ inputs.tag }}
