name: Deploy to Production

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Tag to deploy'
        required: true
        type: string

permissions: {}

jobs:
  deploy:
    uses: ./.github/workflows/deploy.yml
    with:
      tag: ${{ inputs.tag }}
      environment: production
      lock: true
    secrets:
      DEPLOYMENT_GITHUB_TOKEN: ${{ secrets.SGTPOOKI_PAT }}
